.bill-page {
	font-family: 'Lato', 'arial';
}

// BILL HEADER
.bill-header__container {
	background-color: #fff;
	color: #343435;
	padding-top: 40px;
	border-bottom: 2px solid #4af2a1;
}
.bill-header__data {
	max-width: 850px;
	width: 90%;
	margin: auto;
	position: relative;
	border-bottom: 2px solid #dfe3e5;
}
.bill-header__id {
	position: absolute;
	left: 0;
	top: 30px;
	border: 5px solid #4af2a1;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	display: flex;
}
.bill-header__info {
	margin-left: 90px;
}
.bill-header__number {
	width: 40px;
	font-size: 12px;
	font-family: 'Times';
	text-align: center;
	color: #28292a;
	margin: auto;
}
.bill-header__short-title {
	color: #4af2a1;
	font-size: 31px;
	line-height: 38px;
	margin: 0;
	margin-bottom: 3px;
	font-weight: 900;
  max-width: 470px;
}
.bill-header__title {
	font-size: 14px;
	line-height: 17px;
	margin: 0;
	margin-bottom: 9px;
	max-width: 450px;
}
.bill-header__image {
	height: 170px;
	width: auto;
	border: 4px solid #4af2a1;
	position: absolute;
	right: 100px;
  bottom: -55px;
}
.bill-header__label {
	color: #a6a6a6;
	font-size: 10px;
	line-height: 12px;
	margin-right: 5px;
}
.bill-header__date,
.bill-header__status,
.bill-header__sponsor {
	font-size: 10px;
	margin: 0;
}
.bill-header__sponsor {
	margin-bottom:16px;
}
.bill-header__tldr {
	padding-left: 90px;
	position: relative;
	max-width: 800px;
	width: 90%;
	margin: auto;
	box-sizing: border-box;
	&:before {
		content: '';
		width: 5px;
		height: 100%;
		position: absolute;
		left: 75px;
		background-color: #4af2a1;
	}
}
.bill-header__tldr-title {
	color: #4af2a1;
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: 500;
}
.bill-header__tldr-text {
	font-size: 12px;
	max-width: 200px;
}

// BILL CONTENT
.bill-content__container{
	max-width: 750px;
	background-color: #fff;
	margin: auto;
}
.bill-content {
	padding: 15px 40px;
	position: relative;
}
.bill-content__abillto,
.bill-content__beitenacted,
.bill-content__section1,
.bill-content__section1desc,
.bill-content__section2,
.bill-content__text {
	width: 400px;
	font-family: 'Times';
	margin: 0;
	font-size: 17px;
	line-height: 26px;
}
.bill-content__abillto {
	font-weight: bold;
	text-transform: uppercase;
}
.bill-content__abilltodesc {
	font-weight: normal;
	text-transform: none;
}
.bill-highlighted {
	background-color: #ddefff;
}
.bill-content__beitenacted {
	font-style: oblique;
}
.bill-content__section1,
.bill-content__section2 {
	font-weight: bold;
	text-transform: uppercase;
}
.bill-content__section1desc {
	margin: 0;
}
.bill-content__text {
	font-family: 'Times';
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 30%;
		bottom: 0;
		width: 40%;
		height: 1px;
		background-color: #343435;
	}
}
.bill-content__comments {
	position: absolute;
	top: 0;
	left: 460px;
}
.comment-form {
	position: absolute;
	z-index: 100;
	padding-left: 20px;
	padding-bottom: 10px;
	border-left: 5px solid #4af2a1;
	&:before {
		content: '';
		position: absolute;
		top: 20px;
		left: 0;
		border: 7px solid #4af2a1;
		border-right-color: transparent;
		border-top-color: transparent;
		border-bottom-color: transparent;
	}
}

.comments-list-container {
	width: 200px;
	color: #343435;
}
.comment {
	position: absolute;
	width: 200px;
	font-size: 14px;
	padding-top: 0;
}
.comment-ratings {
	color: #a6a6a6;
	font-size: 10px;
	text-transform: uppercase;
	.comment-ratings__thumbs-up {
		height: 16px; // 72px
		width: 26px; // 60px
		display: inline-block;
		color: #fff;
		background-image: url(../images/THUMBS_UP.png);
		background-size: 100%;
		background-repeat: no-repeat;
		padding-top: 15px;
		cursor: pointer;
	}
	.comment-ratings__thumbs-down {
		position: absolute;
		bottom: 10px;
		height: 26px;
		width: 26px;
		display: inline-block;
		color: #343435;
		background-image: url(../images/THUMBS_DOWN.png);
		background-size: 100%;
		background-repeat: no-repeat;
		padding-top: 5px;
		cursor: pointer;
	}
	.comment-ratings__vote {
		line-height: 36px;
		display: inline-block;
		padding: 0 10px;
	}
	* {
		 text-align: center;
	}
}
.comment-textarea {
	border: 2px solid #535353;
	height: 30px;
	width: 100%;
}
.comment-submit {
	color: #fff;
	background-color: #4af2a1;
	height: 30px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 10px;
}



.static-comment {
	left: 460px;
	top: 20px;
}
.annotation-by {
	font-size: 12px;
	margin: 0;
	font-weight: bold;
}
.user {
	text-decoration: underline;
}