body {
	background-color: #f9f9f9;
}
.navbar {
	height: 50px;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #4af2a1;
	z-index: 200;
}
.nav-links,
.login {
	margin: 0;
	display: inline-block;
}
.nav-links {
	float: left;
}
.login {
	float: right;
	padding-right: 40px;
}
.nav-links__item,
.login__item {
	display: inline-block;
}
.nav-link {
	display: block;
	height: 100%;
	padding: 18px 14px;
  font-family: 'Lato', 'arial';
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
	transition: all ease-in 300ms;
  &:hover {
  	text-decoration: none;
		background-color: #43e295;
  }
}
.active {
	background-color: #43e295;
}
.login__item--is_signup {
	position: relative;
	&:before {
		content: '';
		border: 1px solid #fff;
		position: absolute;
		top: 8px;
		left: 5%;
		height: 30px;
		width: 90%;
		z-index: -1;
	}
	// TODO:
	// &:hover {}
}
.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 50px;
	font-family: 'arial';
	background-color: #f9f9f9;
}
.home {
	padding-top: 70px;
}
