.hot-bill {
  background-color: #4af2a1;
  color: #fff;
  position: relative;
  margin: auto;
  width: 90%;
  max-width: 380px;
  padding: 30px 50px 60px;
  margin-bottom: 100px;
  text-align: center; }
  .hot-bill:before {
    content: '';
    border: 5px solid #fff;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px; }

.bill-number {
  font-family: 'Times';
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px; }

.bill-name {
  font-size: 31px;
  line-height: 39px;
  max-width: 200px;
  margin: auto;
  margin-bottom: 30px; }

.bill-text {
  text-align: left;
  font-size: 12px;
  max-width: 200px;
  padding-left: 19px;
  border-left: 5px solid #fff;
  color: #343435;
  margin: auto; }

.bills {
  max-width: 800px;
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 12px 15px; }

.bills-title {
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 5px solid #4af2a1;
  color: #292929;
  font-family: 'Lato', 'arial';
  font-size: 12px; }

.bill-list {
  padding: 0; }

.bill-list a {
  text-decoration: none; }

.bill-list__bill {
  border-bottom: 1px solid #dfe3e5;
  text-align: left;
  list-style: none;
  position: relative;
  min-height: 120px;
  transition: all ease-in 300ms; }
  .bill-list__bill:last-child {
    border-bottom: none; }
  .bill-list__bill:hover {
    background-color: #eee;
    cursor: pointer; }

.bill-list__bill-id {
  position: absolute;
  left: 30px;
  top: 30px;
  border: 5px solid #4af2a1;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex; }

.bill-list__bill-number {
  width: 40px;
  font-size: 12px;
  font-family: 'Times';
  text-align: center;
  color: #28292a;
  margin: auto; }

.bill-list__bill-content {
  font-family: 'Lato', 'arial';
  margin-left: 140px; }

.bill-list__bill-title {
  margin: 0;
  padding-top: 15px;
  color: #4e4f50;
  font-size: 18px;
  line-height: 22px; }

.bill-list__bill-text {
  margin: 0;
  margin-top: 7px;
  max-width: 300px;
  color: #727375;
  font-size: 14px;
  line-height: 15px; }

.bill-list__bill-data {
  font-size: 12px;
  font-style: oblique;
  color: #727375; }

.bill-page {
  font-family: 'Lato', 'arial'; }

.bill-header__container {
  background-color: #fff;
  color: #343435;
  padding-top: 40px;
  border-bottom: 2px solid #4af2a1; }

.bill-header__data {
  max-width: 850px;
  width: 90%;
  margin: auto;
  position: relative;
  border-bottom: 2px solid #dfe3e5; }

.bill-header__id {
  position: absolute;
  left: 0;
  top: 30px;
  border: 5px solid #4af2a1;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex; }

.bill-header__info {
  margin-left: 90px; }

.bill-header__number {
  width: 40px;
  font-size: 12px;
  font-family: 'Times';
  text-align: center;
  color: #28292a;
  margin: auto; }

.bill-header__short-title {
  color: #4af2a1;
  font-size: 31px;
  line-height: 38px;
  margin: 0;
  margin-bottom: 3px;
  font-weight: 900;
  max-width: 470px; }

.bill-header__title {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  margin-bottom: 9px;
  max-width: 450px; }

.bill-header__image {
  height: 170px;
  width: auto;
  border: 4px solid #4af2a1;
  position: absolute;
  right: 100px;
  bottom: -55px; }

.bill-header__label {
  color: #a6a6a6;
  font-size: 10px;
  line-height: 12px;
  margin-right: 5px; }

.bill-header__date,
.bill-header__status,
.bill-header__sponsor {
  font-size: 10px;
  margin: 0; }

.bill-header__sponsor {
  margin-bottom: 16px; }

.bill-header__tldr {
  padding-left: 90px;
  position: relative;
  max-width: 800px;
  width: 90%;
  margin: auto;
  box-sizing: border-box; }
  .bill-header__tldr:before {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    left: 75px;
    background-color: #4af2a1; }

.bill-header__tldr-title {
  color: #4af2a1;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500; }

.bill-header__tldr-text {
  font-size: 12px;
  max-width: 200px; }

.bill-content__container {
  max-width: 750px;
  background-color: #fff;
  margin: auto; }

.bill-content {
  padding: 15px 40px;
  position: relative; }

.bill-content__abillto,
.bill-content__beitenacted,
.bill-content__section1,
.bill-content__section1desc,
.bill-content__section2,
.bill-content__text {
  width: 400px;
  font-family: 'Times';
  margin: 0;
  font-size: 17px;
  line-height: 26px; }

.bill-content__abillto {
  font-weight: bold;
  text-transform: uppercase; }

.bill-content__abilltodesc {
  font-weight: normal;
  text-transform: none; }

.bill-highlighted {
  background-color: #ddefff; }

.bill-content__beitenacted {
  font-style: oblique; }

.bill-content__section1,
.bill-content__section2 {
  font-weight: bold;
  text-transform: uppercase; }

.bill-content__section1desc {
  margin: 0; }

.bill-content__text {
  font-family: 'Times';
  position: relative; }
  .bill-content__text:after {
    content: '';
    position: absolute;
    left: 30%;
    bottom: 0;
    width: 40%;
    height: 1px;
    background-color: #343435; }

.bill-content__comments {
  position: absolute;
  top: 0;
  left: 460px; }

.comment-form {
  position: absolute;
  z-index: 100;
  padding-left: 20px;
  padding-bottom: 10px;
  border-left: 5px solid #4af2a1; }
  .comment-form:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    border: 7px solid #4af2a1;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent; }

.comments-list-container {
  width: 200px;
  color: #343435; }

.comment {
  position: absolute;
  width: 200px;
  font-size: 14px;
  padding-top: 0; }

.comment-ratings {
  color: #a6a6a6;
  font-size: 10px;
  text-transform: uppercase; }
  .comment-ratings .comment-ratings__thumbs-up {
    height: 16px;
    width: 26px;
    display: inline-block;
    color: #fff;
    background-image: url(../images/THUMBS_UP.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 15px;
    cursor: pointer; }
  .comment-ratings .comment-ratings__thumbs-down {
    position: absolute;
    bottom: 10px;
    height: 26px;
    width: 26px;
    display: inline-block;
    color: #343435;
    background-image: url(../images/THUMBS_DOWN.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 5px;
    cursor: pointer; }
  .comment-ratings .comment-ratings__vote {
    line-height: 36px;
    display: inline-block;
    padding: 0 10px; }
  .comment-ratings * {
    text-align: center; }

.comment-textarea {
  border: 2px solid #535353;
  height: 30px;
  width: 100%; }

.comment-submit {
  color: #fff;
  background-color: #4af2a1;
  height: 30px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px; }

.static-comment {
  left: 460px;
  top: 20px; }

.annotation-by {
  font-size: 12px;
  margin: 0;
  font-weight: bold; }

.user {
  text-decoration: underline; }

body {
  background-color: #f9f9f9; }

.navbar {
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4af2a1;
  z-index: 200; }

.nav-links,
.login {
  margin: 0;
  display: inline-block; }

.nav-links {
  float: left; }

.login {
  float: right;
  padding-right: 40px; }

.nav-links__item,
.login__item {
  display: inline-block; }

.nav-link {
  display: block;
  height: 100%;
  padding: 18px 14px;
  font-family: 'Lato', 'arial';
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  transition: all ease-in 300ms; }
  .nav-link:hover {
    text-decoration: none;
    background-color: #43e295; }

.active {
  background-color: #43e295; }

.login__item--is_signup {
  position: relative; }
  .login__item--is_signup:before {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    top: 8px;
    left: 5%;
    height: 30px;
    width: 90%;
    z-index: -1; }

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50px;
  font-family: 'arial';
  background-color: #f9f9f9; }

.home {
  padding-top: 70px; }
